* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

body {
  margin: 0;
  font-family: 'Red Hat Display', sans-serif;
  background-color: #e0e8ff;
}
.title {
  font-weight: 900;
  font-size: 22px;
  text-align: center;
}

.text {
  font-weight: 500;
  font-size: 15px;
  color: #717fa6;
  text-align: center;
  margin-left: 32px;
  margin-right: 32px;
}

.text-pay {
  font-size: 14px;
  margin: 0;
}

.black {
  font-weight: 900;
  margin: 0;
}

.click {
  text-decoration: underline;
  color: #382ae1;
  font-size: 13px;
  font-weight: 700;
}

@media (hover: hover) {
  .color:hover {
    color: #766CF1;
    box-shadow: 0 4 4 hsl(0 0% 0%/0.25);
  }
}

.text-payment2 {
  font-weight: 900;
  color: #ffffff;
}



.cancel {
  color: #717fa6;
  text-align: center;
  font-size: 15px;
  font-weight: 900;
  margin-top: 24px;
}

@media (hover: hover) {
  .cancel:hover {
    color: #1F2E55;
  }
}

.container {
  position: relative;
  margin-top: 71px;
  margin-right: auto;
  margin-left: auto;
  background-color: #ffffff;
  border-radius: 20px;
  width: 327px;
  height: 567px;
}

.dance {
  border-radius: 20px 20px 0 0;
  width: 327px;
  height: 160px;
}

.music {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #f7f9ff;
  border-radius: 11px;
  margin: 24px;
}
.annual {
  
  margin: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button{
  position: absolute;
  width: 279px;
  height: 50px;
  background-color: #382AE1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 24px;
  margin-right: 24px;
  border-radius: 11px;
  opacity: 1;
}

.payment {
  position: absolute;
  width: 279px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border-radius: 11px;
  box-shadow: 0px 4px 4px hsl(0 0 0/0.25);
  margin: 24px;
  opacity: 1;
  
}

@media (hover: hover) {
  .payment:hover {
    opacity: 1;
    background-color: #766CF1;
  }
}

.final{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  margin-top: 98px;
  
}